body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #242424;
  color: #ffffff;
}

button[aria-label="Toggle theme"] i {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

button[aria-label="Toggle theme"]:hover i {
  transform: scale(1.2);
}
